@use "../component/variables" as *;

.about {
  max-width: 100%;
  padding: 1.4rem 18%;
  border: none;
  background-color: $primary;
  padding-bottom: 4rem;
}

.achiev {
  max-width: 100%;
  padding: 1.4rem 18%;
  border: none;
  background-color: $primary;
  padding-bottom: 4rem;
}

.heading-left {
  max-width: 100%;
  display: block;
}
.heading-left h2 {
  font-size: 2rem;
  margin: 0;
}

.achiev-wrap {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 2rem;
  gap: 1rem;
}
.achiev-box {
  width: 130px;
  min-height: 112px;
  padding: 1rem;
  background-color: #212d45;
  border-radius: 8px;
  text-align: left;
  flex: 1;
}

.achiev-box h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.achiev-box:hover {
  color: #03c988;
  transition: 0.5s;
}
.achiev-box p {
  display: block;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
  margin-top: 4px;
}

@media (max-width: 1224px) {
  .achiev {
    padding: 1.4rem 8%;
  }
  .heading-left h2 {
    font-size: 1.6rem;
  }
  .achiev-wrap {
    justify-content: center;
  }
}
@media (max-width: 933px) {
  .achiev-box {
    max-width: 100px;
    min-height: 10rem;
  }
}
@media (max-width: 742px) {
  .achiev-box {
    max-width: 400px;
    min-height: 112px;
    flex: 1;
  }
}
@media (max-width: 647px) {
  .achiev-box h1 {
    font-size: 1.5rem;
  }
}
