@use "../component/variables" as *;
// HERO
.hero {
  max-width: 100%;
  height: 70vh;
  padding: 1.4rem 18%;
  display: flex;
  justify-content: start;
  background-color: $primary;
  align-items: center;
}

#particles-js {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-content {
  max-width: 36rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 1rem;
}
.hero-content h1 {
  font-size: 3.4rem;
  margin: 0;
  background: linear-gradient(to right, #fff 15%, $tersiery 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-content p {
  font-size: 1.1rem;
  font-weight: 200;
  display: inline-block;
  margin-bottom: 2rem;
  color: $text;
}
.btn-more {
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 1px solid #03c988;
  border-radius: 6px;
  color: #03c988;
  background-color: $secondary;
  margin-top: 1rem;
}
.btn-more:hover {
  color: #03c988;
  border-radius: 2px solid#03C988;
  transition: 0.5s;
}

@media (max-width: 1020px) {
  .hero {
    padding: 1.4rem 8%;
    height: 100%;
  }
  #particles-js {
    display: none;
  }
}
@media (max-width: 720px) {
  .hero {
    // margin-top: 57px;
  }
  .hero-content h1 {
    font-size: 2.2rem;
  }
  .hero-content p {
    font-size: 0.9rem;
  }
  .btn-more {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    margin-top: 0.4rem;
  }
}
@media (max-width: 635px) {
  .hero h1 {
    font-size: 2rem;
  }
  .btn-more {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    margin-top: 0rem;
  }
}
@media (max-width: 460px) {
  .hero h1 {
    font-size: 1.5rem;
  }
  .hero p {
    font-size: 0.8rem;
  }
  .btn-more {
    padding: 0.3rem 0.6rem;
    font-size: 0.7rem;
    margin-top: 0rem;
  }
}
@media (max-width: 290px) {
  .hero-content h1 {
    font-size: 1.2rem;
  }
  .heading-line p {
    font-size: 0.8rem;
  }
}
