@use "../component/variables" as *;
.navbar {
  max-width: 100%;
  padding: 1.4rem 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: $primary;
}

.navbar .navbar-logo {
  color: #03c988;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
}

.navbar-menu {
  display: inline-block;
}
.navbar-menu a {
  text-decoration: none;
  color: $text;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1rem;
}
.navbar-menu a:nth-last-child(1) {
  margin: 0;
}

.navbar-medsos {
  display: flex;
  gap: 1rem;
}
.navbar-medsos i {
  font-size: 1.6rem;
  color: $white;
  margin-right: 1rem;
  cursor: pointer;
}
.navbar-medsos i:nth-last-child(1) {
  margin: 0;
}

// Animasi
.navbar-menu a:hover {
  color: #03c988;
  transition: 0.6s;
}
.navbar-medsos i:hover {
  color: #03c988;
  transition: 0.6s all ease;
}

.hamburger {
  display: none;
}
.hamburger span {
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: $white;
  display: block;
  margin-bottom: 6px;
  cursor: pointer;
  transition: all 0.5s ease;
  top: 0;
  left: 0;
}
.hamburger span:nth-last-child(1) {
  margin: 0;
}

.hamburger.active > span:nth-child(2) {
  opacity: 0;
}
.hamburger.active > span:nth-child(1) {
  transform: rotate(45deg) translatey(11px);
}
.hamburger.active > span:nth-child(3) {
  transform: rotate(-45deg) translatey(-11px);
}

// Query
@media (max-width: 1020px) {
  .navbar {
    padding: 1.4rem 8%;
  }
}
@media (max-width: 720px) {
  .hamburger {
    display: block;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-menu.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 1.4rem 0;
    top: 69px;
    left: 50%;
    height: 10px;
    right: 0;
    background-color: rgba(#03c988, 1);
    animation: hamburger 1s;
    z-index: 99999;

    @keyframes hamburger {
      0% {
        left: 100%;
      }
      100% {
        left: 50%;
      }
    }
  }
  .navbar-logo {
    font-size: 1.4rem;
  }
  .navbar-menu a {
    font-size: 1rem;
    color: $primary;
  }
  .navbar-menu a:hover {
    color: $secondary;
  }
  .navbar-medsos i {
    font-size: 1.5rem;
  }
}
@media (max-width: 460px) {
  .navbar-logo {
    font-size: 1.2rem;
  }
  .navbar-menu a {
    font-size: 1rem;
  }
  .navbar-medsos i {
    font-size: 1rem;
  }
  .navbar-menu.active {
    left: 0;
    animation: hamburger 1s;
  }
  @keyframes hamburger {
    0% {
      left: 100%;
    }
    100% {
      left: 0;
    }
  }
}
@media (max-width: 318px) {
  // .hamburger span {
  //   width: 18px;
  //   height: 2px;
  //   margin-bottom: 4px;
  // }
  .navbar {
    justify-content: space-between;
  }
  .navbar {
    padding: 0.5rem 8%;
  }
  .navbar-menu {
    padding: 0.5rem 8%;
    top: 40px;
  }
  .navbar-medsos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0.5rem 4%;
    top: 40px;
    left: 0;
    right: 0;
    background-color: $primary;
  }
  .navbar-menu.active {
    padding: 1rem 0;
    top: 40px;
  }
  .navbar-menu a {
    font-size: 0.8rem;
  }
}
