@use "../component/variables" as *;

.tech {
  max-width: 100%;
  padding: 1.4rem 18%;
  background-color: $primary;
}
.tech-box {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.tech-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tech-item i {
  font-size: 4rem;
  color: #03c988;
  display: block;
  text-align: center;
}

.tech-item h2 {
  font-size: 1rem;
  font-weight: 400;
  display: block;
  text-align: center;
  color: $text;
}
@media (max-width: 1020px) {
  .tech {
    padding: 1.4rem 8%;
  }
}
@media (max-width: 973px) {
  .tech-item i {
    font-size: 3.4rem;
  }
}
@media (max-width: 713px) {
  .tech-item i {
    font-size: 3rem;
  }
}
