@use "variables" as *;
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  //   background-color: $primary;
  font-family: $grotesck;
  color: $white;
  border: none;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
